.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.multi {
    display: flex;
    gap: 30px;
}

.toggleBtn {
    padding-top: 30px;
}

.accordian {
    width: 500px;
}

.dataElement {
    background: #614101;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.title {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    color: #fff;
    height: auto;
}