.dataContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.prodContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.product {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid;
}

.prodDetails {
    display: flex;
    justify-content: space-around;
}